In [1]:
import pandas
import os
import pixiedust

Pixiedust database opened successfully

# Look at our data

In [2]:
demographics = pandas.read_csv('/Users/elizabethwells/PycharmProjects/WatsonHealth/synthetic_data/create_v_demographic.csv', delimiter="\t")
display(demographics)

In [3]:
histories = pandas.read_csv('/Users/elizabethwells/PycharmProjects/WatsonHealth/synthetic_data/create_v_medical_history.csv', delimiter="\t")
display(histories)

In [4]:
diagnosis = pandas.read_csv('/Users/elizabethwells/PycharmProjects/WatsonHealth/synthetic_data/create_v_diagnosis.csv', delimiter="\t")
display(diagnosis)

In [5]:
observations = pandas.read_csv('/Users/elizabethwells/PycharmProjects/WatsonHealth/synthetic_data/create_v_observation.csv', delimiter="\t")
display(observations)

# Make sure pixie app is installed

In [6]:
# !pip install -e /Users/elizabethwells/PycharmProjects/WatsonHealth/pixiedust_health

In [7]:
# from pixiedust_health import *
# PixieHealthApp().run(dialog=True)

# Create Cohorts class

In [8]:
import os
from collections import defaultdict
from six import iteritems

# Hopefully find a better way to do this if we expand to other diseases
diseaseMap = {1: {'DisplayName': 'Diabetes', 'SnomedIds': ['44054006', '359642000','81531005','237599002','199230006','609567009','237627000',
                        '9859006','190331003','703138006','314903002','314904008','190390000','314772004',
                        '314902007','190389009','313436004','1481000119100']}, 2: {'DisplayName': 'Hypertension', 'SnomedIds': ['38341003']}}


# Class for storing data and generating DataFrames and matrices for UI and machine learning
# Requires 3 pandas data frames from create_v_demographic.csv, create_v_diagnosis.csv, and create_v_observation.csv
class Cohorts:
#     def __init__(self, pathToData):
    def __init__(self, demographics, diagnosis, observations):
#         demographics = pandas.read_csv(pathToData + '/create_v_demographic.csv', delimiter="\t")
        print "demographics starting"
        self.demographics = self.__filterDemographics(demographics)
        print "demographics done"
        
#         diagnosis = pandas.read_csv(pathToData + '/create_v_diagnosis.csv', delimiter="\t")
        print "histories starting"
        self.histories = self.__filterDiagnosis(diagnosis)
#         self.diagnosis = self.__filterDiagnosis(diagnosis)
#         self.histories, self.diagnosis = self.__filterDiagnosis(diagnosis)
        print "histories done"
        
#         observations = pandas.read_csv(pathToData + '/create_v_observation.csv', delimiter="\t")
        print "observations starting"
        self.demographics = self.__getFeatures(observations)
        print "observations done"
        
    # Returns filtered demographics data frame
    # Requires original demographics chart
    def __filterDemographics(self, demographics):
        filteredDemographics = demographics[['EXPLORYS_PATIENT_ID', 'STD_GENDER', 'BIRTH_YEAR', 'STD_RACE']]
        ages = filteredDemographics['BIRTH_YEAR'].map(lambda x: 2017 - int(x))
        filteredDemographics['AGE'] = ages.values
        return filteredDemographics.drop('BIRTH_YEAR', 1)
    
    # Returns diagnosis history data frame
    # Requires original diagnosis histories chart
    def __filterDiagnosis(self, histories):
        filteredHistories = histories[['EXPLORYS_PATIENT_ID', 'DIAGNOSIS_DATE', 'SNOMED_IDS']]
        snomedIDs = filteredHistories['SNOMED_IDS'].map(lambda x: tuple(x.split(',')) if isinstance(x, str) else tuple())
        filteredHistories['SNOMED_IDS'] = snomedIDs.values
        return filteredHistories
       
    # Returns filtered observation data frame
    # Requires original observations chart
    def __getFeatures(self, observations):
        demographicCopy = self.demographics
        filteredObservations = observations[['EXPLORYS_PATIENT_ID', 'LOINC_TEST_ID', 'STD_VALUE']]
        filteredObservations = filteredObservations.groupby(['EXPLORYS_PATIENT_ID', 'LOINC_TEST_ID'], as_index=False).mean()
        loincIDs = [('HBA1C', '4548-4'), ('WEIGHT', '29463-7')]
        for label, loinc in loincIDs:
            justThisLabel = filteredObservations.loc[filteredObservations['LOINC_TEST_ID'] == loinc]
            justThisLabel = justThisLabel.rename(columns={'STD_VALUE': label})
            demographicCopy = demographicCopy.merge(justThisLabel.drop('LOINC_TEST_ID', 1))
        return demographicCopy
    
    # Returns list of (DisplayName, ID) for all diseases we have data for
    # Designed for drop-down menu in initial window of UI
    def getDiseases(self):
        return [(value['DisplayName'], key) for key, value in iteritems(diseaseMap)]
    
    # Returns Data Frame with demographics for each patient
    # Filters by patients with a certain disease if disease ID is given
    # Designed for descriptive analytics window of UI
    def getDemographics(self, diseaseID=None, negative=False):
        if diseaseID:
            if negative:
                patients = self.getPatientsWithoutDisease(diseaseID)
            else:
                patients = self.getPatientsWithDisease(diseaseID)
            # Cache last dataframe generated?
            return self.demographics.loc[self.demographics['EXPLORYS_PATIENT_ID'].isin(patients)]       
        return self.demographics
    
    # Returns a list of all patients we have a medical history for
    # Facilitates getPatientsWithoutDisease()
    def getPatients(self):
        return set(self.histories['EXPLORYS_PATIENT_ID'].values)
    
    # Returns list of IDs for patients with a given disease
    # Requires disease ID
    # Facilitates getDemographics()
    def getPatientsWithDisease(self, diseaseID):
        snomedIDs = diseaseMap[diseaseID]['SnomedIds']
        filtered = self.histories.loc[[not (set(history).isdisjoint(snomedIDs)) for history in self.histories['SNOMED_IDS']]]
        return set(filtered['EXPLORYS_PATIENT_ID'].values)
    
    # Returns list of IDs for patients without a given disease
    # Requires disease ID
    # Facilitates getDemographics()
    def getPatientsWithoutDisease(self, diseaseID):
        return self.getPatients() - self.getPatientsWithDisease(diseaseID)
    
    # Returns a numpy matrix of features
    # Filters by a certain disease if disease ID is given
    # Returns only certain features if features are specified
    # Designed to be used for machine learning component
    def getFeatureVectors(self, diseaseID=None, features=None, negative=False):
        ret = self.getDemographics(diseaseID, negative)
        if features:
            return ret[features].as_matrix()
        return ret[['STD_GENDER', 'STD_RACE', 'AGE', 'HBA1C', 'WEIGHT']].as_matrix()
    
    # Returns a Data Frame of diagnosis dates and corresponding snomed IDs for a given patient
    # Requires a patient ID
    # Facilitates getMosPriorToDiagnosis()
    def getDiagnosisHistory(self, patientID):
        patientHistory = self.histories.loc[self.histories['EXPLORYS_PATIENT_ID'] == patientID].drop('EXPLORYS_PATIENT_ID', 1)
        return patientHistory.groupby('DIAGNOSIS_DATE', as_index=False).sum()
    
    # Unfinished function being worked on by Katie
    # Gets the average value of given measurement (loincID) for twelve months before patient's diagnosis
    # May be included in demographics/feature vectors
    def getYearPriorToDiagnosis(self, patientID, loincID):
        patientObservations = self.getDiagnosisHistory(patientID)

# Create instance of Cohorts and Test

In [9]:
cohorts = Cohorts(demographics, diagnosis, observations)

demographics starting
demographics done
histories starting

/Users/elizabethwells/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/elizabethwells/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

histories done
observations starting
observations done

### Page 0: Dropdown menu

In [10]:
# from pixiedust_health.cohort import *
# cohorts = Cohorts('/Users/elizabethwells/PycharmProjects/WatsonHealth/synthetic_data')
cohorts.getDiseases()

[('Diabetes', 1), ('Hypertension', 2)]

### Page 1: Descriptive Analytics / Charts

In [11]:
demographicDF = cohorts.getDemographics()
display(demographicDF)

In [12]:
display(demographicDF)

In [13]:
display(demographicDF)

In [14]:
display(demographicDF)

In [18]:
# Sanity checks for getPatientsWithDisease() and getPatientsWithoutDisease()
print len(cohorts.getPatients())
pos = cohorts.getPatientsWithDisease(1)
neg = cohorts.getPatientsWithoutDisease(1)
print len(pos) + len(neg)
pos2 = cohorts.getPatientsWithDisease(2)
neg2 = cohorts.getPatientsWithoutDisease(2)
print len(pos2) + len(neg2)
print set(pos).isdisjoint(neg)

86705
86705
86705
True

In [16]:
display(cohorts.getDemographics(2))

### Page 2: Classsification Model

In [19]:
cohorts.getFeatureVectors()

array([[   1.        ,  101.        ,   94.        ,    6.05      ,   74.        ],
       [   1.        ,  101.        ,   74.        ,    6.        ,
          74.66666667],
       [   1.        ,  101.        ,   81.        ,    5.8       ,   81.        ],
       ...,
       [   1.        ,  101.        ,   78.        ,    6.53333333,
          66.66666667],
       [   2.        ,  101.        ,  101.        ,    5.29411765,
          78.11764706],
       [   2.        ,  101.        ,   65.        ,    5.60833333,
          75.625     ]])

In [20]:
cohorts.getFeatureVectors(2)

array([[   2.        ,  101.        ,   74.        ,    5.58333333,
          75.16666667],
       [   2.        ,  101.        ,   63.        ,    5.71111111,
          74.83333333],
       [   2.        ,  101.        ,  107.        ,    5.26923077,
          84.46153846],
       [   2.        ,  203.        ,   58.        ,    5.65862069,
          74.82758621],
       [   1.        ,  101.        ,  104.        ,    5.30625   ,   71.75      ],
       [   2.        ,  101.        ,   77.        ,    5.44      ,   77.2       ],
       [   2.        ,  203.        ,   80.        ,    5.525     ,   79.        ],
       [   2.        ,  101.        ,   92.        ,    5.76      ,   81.2       ],
       [   1.        ,  101.        ,   40.        ,    5.41020408,
          75.40816327],
       [   1.        ,  101.        ,   78.        ,    4.88333333,
          75.66666667],
       [   1.        ,  101.        ,   66.        ,    5.6       ,   76.        ],
       [   2.        ,  101.        ,   85.        ,    5.        ,   93.        ],
       [   2.        ,  203.        ,   81.        ,    5.61666667,   69.5       ],
       [   1.        ,  203.        ,   81.        ,    5.46666667,
          67.77777778],
       [   2.        ,  101.        ,   78.        ,    5.26      ,   82.7       ],
       [   1.        ,  101.        ,   81.        ,    5.58974359,
          73.82051282],
       [   1.        ,  101.        ,   91.        ,    5.728     ,   72.24      ],
       [   1.        ,  101.        ,   85.        ,    5.525     ,   61.75      ],
       [   1.        ,  101.        ,   87.        ,    5.43846154,
          67.23076923],
       [   2.        ,  101.        ,   82.        ,    5.66666667,
          72.78787879],
       [   1.        ,  101.        ,   48.        ,    5.69166667,
          76.91666667],
       [   1.        ,  699.        ,   50.        ,    5.65384615,
          74.46153846],
       [   2.        ,  101.        ,   97.        ,    5.45714286,
          73.57142857],
       [   2.        ,  101.        ,   79.        ,    5.68095238,
          73.38095238],
       [   1.        ,  101.        ,   74.        ,    5.22666667,
          73.23333333],
       [   1.        ,  101.        ,   85.        ,    5.65      ,
          71.96666667],
       [   1.        ,  101.        ,   81.        ,    6.5       ,   84.        ],
       [   1.        ,  101.        ,   74.        ,    5.69473684,
          75.71052632],
       [   1.        ,  101.        ,   89.        ,    5.76923077,
          72.15384615],
       [   1.        ,  101.        ,   60.        ,    4.82      ,   76.2       ],
       [   1.        ,  101.        ,   87.        ,    5.42857143,   73.5       ],
       [   2.        ,  101.        ,   83.        ,    5.5625    ,
          79.125     ],
       [   1.        ,  203.        ,   92.        ,    5.47272727,
          69.90909091],
       [   2.        ,  203.        ,   93.        ,    5.43928571,
          72.23214286],
       [   1.        ,  101.        ,   85.        ,    6.18461538,
          75.76923077],
       [   2.        ,  101.        ,   77.        ,    5.65333333,
          71.13333333],
       [   1.        ,  101.        ,   76.        ,    5.24390244,
          74.75609756],
       [   2.        ,  101.        ,   89.        ,    5.975     ,   80.25      ],
       [   2.        ,  101.        ,   84.        ,    5.212     ,   74.76      ],
       [   2.        ,  101.        ,   78.        ,    5.145     ,   74.1       ],
       [   2.        ,  101.        ,   88.        ,    4.45      ,   83.        ],
       [   1.        ,  101.        ,   53.        ,    5.73272727,
          75.65454545],
       [   1.        ,  203.        ,   86.        ,    5.65      ,
          74.90909091],
       [   1.        ,  101.        ,   83.        ,    5.47857143,
          75.42857143],
       [   2.        ,  101.        ,   79.        ,    6.24      ,   69.        ],
       [   1.        ,  203.        ,   65.        ,    5.56285714,
          76.05714286],
       [   2.        ,  101.        ,   42.        ,    5.64666667,
          79.26666667],
       [   2.        ,  101.        ,   91.        ,    6.02      ,   73.2       ],
       [   1.        ,  699.        ,   78.        ,    5.38235294,
          70.82352941],
       [   2.        ,  699.        ,   88.        ,    5.5       ,   70.6       ],
       [   1.        ,  101.        ,   52.        ,    5.84666667,
          69.73333333],
       [   1.        ,  203.        ,   80.        ,    5.91111111,   71.5       ],
       [   2.        ,  101.        ,   95.        ,    5.53846154,
          71.76923077],
       [   2.        ,  101.        ,   97.        ,    5.12307692,
          77.07692308],
       [   2.        ,  203.        ,   81.        ,    5.65833333,   69.        ],
       [   1.        ,  101.        ,   92.        ,    5.40833333,
          74.41666667],
       [   2.        ,  101.        ,   82.        ,    5.45652174,
          72.69565217],
       [   2.        ,  101.        ,   40.        ,    5.4       ,   78.        ],
       [   1.        ,  203.        ,   76.        ,    5.8       ,
          73.06666667],
       [   1.        ,  203.        ,   83.        ,    5.05      ,   76.5       ],
       [   1.        ,  203.        ,   83.        ,    5.375     ,   68.45      ],
       [   1.        ,  101.        ,   94.        ,    4.88333333,
          83.83333333],
       [   1.        ,  101.        ,   75.        ,    5.125     ,
          71.125     ],
       [   2.        ,  203.        ,   69.        ,    5.3       ,   89.        ],
       [   2.        ,  699.        ,   88.        ,    5.43461538,
          69.11538462],
       [   2.        ,  101.        ,   66.        ,    5.72      ,   79.2       ],
       [   2.        ,  101.        ,   86.        ,    5.43333333,
          79.83333333],
       [   2.        ,  101.        ,   74.        ,    5.56      ,
          74.13333333],
       [   2.        ,  101.        ,   75.        ,    5.50625   ,
          76.875     ],
       [   2.        ,  101.        ,   74.        ,    5.85625   ,
          71.9375    ],
       [   2.        ,  101.        ,   87.        ,    5.50754717,
          73.03773585],
       [   1.        ,  615.        ,   74.        ,    5.79166667,
          68.33333333],
       [   2.        ,  101.        ,   74.        ,    5.36428571,
          80.07142857],
       [   2.        ,  101.        ,   99.        ,    5.08333333,
          81.33333333],
       [   1.        ,  101.        ,   73.        ,    5.71818182,
          74.63636364],
       [   2.        ,  101.        ,   92.        ,    5.175     ,   78.5       ]])

In [21]:
cohorts.getFeatureVectors(2, ['AGE', 'STD_RACE'])

array([[ 74, 101],
       [ 63, 101],
       [107, 101],
       [ 58, 203],
       [104, 101],
       [ 77, 101],
       [ 80, 203],
       [ 92, 101],
       [ 40, 101],
       [ 78, 101],
       [ 66, 101],
       [ 85, 101],
       [ 81, 203],
       [ 81, 203],
       [ 78, 101],
       [ 81, 101],
       [ 91, 101],
       [ 85, 101],
       [ 87, 101],
       [ 82, 101],
       [ 48, 101],
       [ 50, 699],
       [ 97, 101],
       [ 79, 101],
       [ 74, 101],
       [ 85, 101],
       [ 81, 101],
       [ 74, 101],
       [ 89, 101],
       [ 60, 101],
       [ 87, 101],
       [ 83, 101],
       [ 92, 203],
       [ 93, 203],
       [ 85, 101],
       [ 77, 101],
       [ 76, 101],
       [ 89, 101],
       [ 84, 101],
       [ 78, 101],
       [ 88, 101],
       [ 53, 101],
       [ 86, 203],
       [ 83, 101],
       [ 79, 101],
       [ 65, 203],
       [ 42, 101],
       [ 91, 101],
       [ 78, 699],
       [ 88, 699],
       [ 52, 101],
       [ 80, 203],
       [ 95, 101],
       [ 97, 101],
       [ 81, 203],
       [ 92, 101],
       [ 82, 101],
       [ 40, 101],
       [ 76, 203],
       [ 83, 203],
       [ 83, 203],
       [ 94, 101],
       [ 75, 101],
       [ 69, 203],
       [ 88, 699],
       [ 66, 101],
       [ 86, 101],
       [ 74, 101],
       [ 75, 101],
       [ 74, 101],
       [ 87, 101],
       [ 74, 615],
       [ 74, 101],
       [ 99, 101],
       [ 73, 101],
       [ 92, 101]])

In [22]:
display(cohorts.getDiagnosisHistory('00016F745862898F'))